@font-face {
    font-family: 'Iosevka';
    font-style:  normal;
    font-weight: 422;
    font-display: swap;
    src: url("assets/fonts/Iosevka-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Iosevka';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("assets/fonts/Iosevka-Bold.woff2") format("woff2");
}
