.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: x-large;
}

@media (prefers-color-scheme: light) {
  .logo {
    color: black
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    color: white
  }
}