.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--accent);
  padding: 5px 10px;
}

@media (prefers-color-scheme: light) {
  .logo {
    color: white
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    color: black
  }
}