{# Credit to: https://github.com/pawroman/zola-theme-terminimal#shortcodes
  
Sample usage: {{ figure(src="http://rustacean.net/assets/rustacean-flat-gesture.png",
style="width: 25%;",
position="right"
caption_position="left",
caption="Ferris, the (unofficial) Rust mascot",
caption_style="font-weight: bold; font-style: italic;") }} #}

{% if src %}
  <figure class="{% if position %}{{ position }}{% else -%} center {%- endif %}" >
    <img src="{{ src | safe }}"{% if alt %} alt="{{ alt }}"{% endif %}{% if style %} style="{{ style }}"{% endif %} />
    {% if caption %}
      <figcaption class="{% if caption_position %}{{ caption_position }}{% else -%} center {%- endif %}"{% if caption_style %} style="{{ caption_style | safe }}"{% endif %}>{{ caption }}</figcaption>
    {% endif %}
  </figure>
{% endif %}